<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
		<resultMap id="resultMember" type="Member">		
		</resultMap>
	
	<insert id="insertMember" parameterType="Member">   
				
		 INSERT INTO MEMBER(
            mno,
            id,
            pwd,
            nname,
            email,
            mtype,
            address            
        )VALUES(
            mno_SEQ.nextval,
            #{id},
            #{pwd},
            #{nname},
            #{email},
            'USER',
            #{address}            
        )

	</insert>
	
	<select id="loginMember" parameterType="string" resultMap="resultMember">
		SELECT * FROM MEMBER 
		WHERE ID = #{id} 
	</select>
	
	<!-- 아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  	
  		select count(*) from member where id = #{id}
  	
  	</select>
  	  	
  	<!-- 아이디 찾기 -->
	<select id="find_id" parameterType="String" resultType="String">
		select id from member where email = #{email}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="update_pw" parameterType="member">
		update member set pwd = #{pwd} where id = #{id}
	</update>
	
	<delete id="deleteMember" parameterType="_int" >
      DELETE FROM MEMBER 
      WHERE MNO = #{mno}
   </delete>
   
      <!-- 회원정보 수정 -->
   <update id="updateMember" parameterType="member">
      UPDATE MEMBER
      SET
         pwd = #{pwd},
         nname = #{nname},
         email = #{email},
         address = #{address}
      WHERE
         id = #{id}
   </update>
   
	
</mapper>